*{
  margin: 0; 
  box-sizing: border-box;
 color-scheme: rgba(131, 139, 131, 0.788);;
}
body{
  background-image: url(https://64.media.tumblr.com/3bb4407a1a3e322e6faa19a12433fec4/c2815bcb19b33e70-3a/s540x810/13d26edfef3cbb341d0943a9a06e29ba0a50a67c.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1350px 700px;
  background-attachment: fixed;
  
}

h1{
  text-align: center;
}

#imagen1{   
  width: 35%;
  padding: 10%;
  
}

input{
  
    background-color: rgba(137, 43, 226, 0.719);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 100px;
}
button{
  
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 122, 223, 0.767);
    padding: 10px;
    border-radius: 100px;
}

.busqueda {
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }

  .tpersonaje {
    color: rgb(255, 253, 255);
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 10px 0 -5px 0;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 33, 81, 0.466);
    padding: 10px;
    border-radius: 50px;
  }

  .botonderegreso{
    position: static;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(183, 184, 181);
    padding: 10px;
  }

  